<!DOCTYPE html>
<html>
  <head lang="zh_CN">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/material.min.js"></script>
  </head>
  <body>
    <nav>
      <i class="menu-btn material-icons">menu</i>
      <span>账本</span>
      <i class="search-btn material-icons">search</i>
    </nav>
    <div class="mask" id="mask1"></div>
    <div class="mask" id="mask2"></div>
    <aside>
      <div class="head"></div>
    </aside>
    <section class="test">
      <ul>
        <li>
          <p><i class="material-icons">list</i><strong>名称</strong>breakfast</p>
          <p><i class="material-icons">attach_money</i><strong>花费</strong>5.5</p>
          <p><i class="material-icons">access_time</i><strong>日期</strong>2015.9.17</p>
          <button class="mdl-button mdl-js-button mdl-button--icon edit-btn">
            <i class="material-icons">edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon delete-btn">
            <i class="material-icons">delete</i>
          </button>
        </li>
      </ul>
    </section>
    <section>
      <ul>
      <% items.forEach(function (i) { %>
        <li data-id="<%= i._id %>">
          <p><i class="material-icons">schedule</i><strong>日期</strong><span class="text"><%= i.date.getFullYear() + '.' + (i.date.getMonth() + 1) + '.' + i.date.getDate() %></span></p>
          <p><i class="material-icons">subject</i><strong>类别</strong><span class="text"><%= i.category %></span></p>
          <p><i class="material-icons">format_list_bulleted</i><strong>子类</strong><span class="text"><%= i.subCategory %></span></p>
          <p><i class="material-icons">attach_money</i><strong>花费</strong><span class="text"><%= i.cost %></span></p>
          <p><i class="material-icons">today</i><strong>名称</strong><span class="text"><%= i.name %></span></p>
          <p><i class="material-icons">mode_comment</i><strong>备注</strong><span class="text"><%= i.comments %></span></p>
          <button class="mdl-button mdl-js-button mdl-button--icon edit-btn">
            <i class="material-icons">mode_edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon delete-btn">
            <i class="material-icons">delete</i>
          </button>
        </li>
      <% }); %>
      </ul>
    </section>
    <div class="index-add mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
      <i class="material-icons">add</i>
      <form action="" class="add-form form-hide">
        <div class="mdl-textfield mdl-js-textfield textfield-normal mdl-textfield--floating-label form-sec">
          <input name="date" class="mdl-textfield__input" type="text" />
          <label class="mdl-textfield__label">时间...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield textfield-normal  mdl-textfield--floating-label form-sec">
          <input name="category" class="mdl-textfield__input" type="text" />
          <label class="mdl-textfield__label">类别...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield textfield-normal  mdl-textfield--floating-label form-sec">
          <input name="subCategory" class="mdl-textfield__input" type="text" />
          <label class="mdl-textfield__label">子类别...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield textfield-normal  mdl-textfield--floating-label form-sec">
          <input name="cost" class="mdl-textfield__input" type="text" />
          <label class="mdl-textfield__label">花费...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label form-sec">
          <input name="name" class="mdl-textfield__input" type="text" />
          <label class="mdl-textfield__label">名称...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label form-sec">
            <textarea name="comments" class="mdl-textfield__input" type="text" rows= "2"></textarea>
            <label class="mdl-textfield__label" for="sample5">备注...</label>
        </div>
        <div class="form-sec">
          <div class="mdl-button mdl-js-button add-cancel">取消</div>
          <div class="mdl-button mdl-js-button mdl-button--accent add-save">保存</div>
        </div>
      </form>
      <div class="add-show-e"></div>
    </div>
    <script data-main="/js/main" src="/js/require.js"></script>
  </body>
</html>
